In [1]:
import os
os.getcwd()

os.listdir("data/raw")
os.listdir()
os.listdir("data/raw/energy")

['신·재생_에너지생산량_강원_20251215135106.csv',
 '지역별_신·재생에너지_보급용량_발전누적__20251215134828.csv',
 '지역별_신·재생에너지_보급용량_발전신규__20251215135000.csv',
 '한국에너지공단_기초지자체별 신재생에너지 보급 현황.csv']

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
df1 = pd.read_excel('./data/processed/강원도_월별기온_통합.xlsx', sheet_name="강원도(강릉)")
df1.head(10)

,\t\t지점번호,지점명,일시,평균기온(℃),평균최고기온(℃),최고기온(℃),\t최고기온일자,평균최저기온(℃),최저기온(℃),최저기온일자
0,105,강릉,2020-01,4.4,8.1,12.5,2020-01-23,1.7,-3.0,2020-01-01
1,105,강릉,2020-02,5.0,9.6,16.7,2020-02-13,0.9,-7.1,2020-02-06
2,105,강릉,2020-03,8.7,13.9,21.7,2020-03-26,3.6,-0.3,2020-03-05
3,105,강릉,2020-04,11.8,16.4,26.8,2020-04-30,7.1,1.4,2020-04-05
4,105,강릉,2020-05,18.3,22.9,32.5,2020-05-01,14.3,8.3,2020-05-21
5,105,강릉,2020-06,24.1,28.2,34.5,2020-06-09,20.1,15.2,2020-06-06
6,105,강릉,2020-07,22.4,25.5,33.4,2020-07-31,19.6,14.8,2020-07-16
7,105,강릉,2020-08,27.0,30.5,36.5,2020-08-25,24.1,20.2,2020-08-23
8,105,강릉,2020-09,20.6,24.5,29.7,2020-09-04,17.2,11.5,2020-09-28
9,105,강릉,2020-10,15.1,20.1,26.6,2020-10-02,10.8,6.4,2020-10-24

In [9]:
print('전체 데이터 건수:',len(df1))
print('컬럼별 곌측치 개수')
len(df1) - df1.count()

전체 데이터 건수: 72
컬럼별 곌측치 개수

\t\t지점번호     0
지점명          0
일시           0
평균기온(℃)      1
평균최고기온(℃)    1
최고기온(℃)      0
\t최고기온일자     0
평균최저기온(℃)    1
최저기온(℃)      0
최저기온일자       0
dtype: int64

In [7]:
df1.columns

Index(['\t\t지점번호', '지점명', '일시', '평균기온(℃)', '평균최고기온(℃)', '최고기온(℃)', '\t최고기온일자',
       '평균최저기온(℃)', '최저기온(℃)', '최저기온일자'],
      dtype='object')

In [33]:
use_cols = [
    '\t\t지점번호', 
    '지점명', 
    '일시', 
    '평균기온(℃)', 
    '평균최고기온(℃)', 
    '최고기온(℃)', 
    '평균최저기온(℃)', 
    '최저기온(℃)', 
]

df1_use = df1[use_cols]
df1_use

    \t\t지점번호 지점명       일시  평균기온(℃)  평균최고기온(℃)  최고기온(℃)  평균최저기온(℃)  최저기온(℃)
0        105  강릉  2020-01      4.4        8.1     12.5        1.7     -3.0
1        105  강릉  2020-02      5.0        9.6     16.7        0.9     -7.1
2        105  강릉  2020-03      8.7       13.9     21.7        3.6     -0.3
3        105  강릉  2020-04     11.8       16.4     26.8        7.1      1.4
4        105  강릉  2020-05     18.3       22.9     32.5       14.3      8.3
..       ...  ..      ...      ...        ...      ...        ...      ...
67       105  강릉  2025-08     29.0       33.1     38.0       25.5     21.7
68       105  강릉  2025-09     23.3       27.3     34.8       19.8     15.3
69       105  강릉  2025-10     16.0       19.0     27.9       13.8      3.5
70       105  강릉  2025-11     11.2       16.1     22.0        7.1      0.0
71       105  강릉  2025-12      NaN        NaN     15.8        NaN     -5.4

[72 rows x 8 columns]

In [38]:
len(df1_use) - df1_use.count()
import preprocessing as pre

In [31]:
print(df.columns.tolist())

['지점번호', '지점명', '일시', '평균기온(℃)', '평균최고기온(℃)', '최고기온(℃)', '최고기온일자']

In [51]:
dir(pre)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'clean_structure',
 'handle_rainfall_missing',
 'np',
 'pd',
 'plt']

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import preprocessing as pre


df1 = pd.read_excel(
    './data/processed/강원도_월별기온_통합.xlsx', 
    sheet_name=None
)

processed_dfs = {}

use_cols = [
    '지점번호',
    '지점명',
    '일시',
    '평균기온(℃)',
    '평균최고기온(℃)',
    '최고기온(℃)',
    '평균최저기온(℃)',
    '최저기온(℃)',
]

for sheet, df in df1.items():
    #컬럼명 정리
    df.columns = (
        df.columns
          .str.strip()
          .str.replace(" ", "")
    )

    # 필요한 컬럼만 선택 (이게 df1_use 역할)
    df_use = df[[c for c in use_cols if c in df.columns]].copy()
    
    # 결측치 처리
    for col in ["평균기온(℃)", "평균최고기온(℃)", "평균최저기온(℃)"]:
        if col in df_use.columns:
            df_use = pre.handle_missing(df_use, col)

    processed_dfs[sheet] = df_use

processed_dfs["강원도(강릉)"]

    지점번호 지점명       일시  평균기온(℃)  평균최고기온(℃)  최고기온(℃)  평균최저기온(℃)  최저기온(℃)
0    105  강릉  2020-01      4.4        8.1     12.5        1.7     -3.0
1    105  강릉  2020-02      5.0        9.6     16.7        0.9     -7.1
2    105  강릉  2020-03      8.7       13.9     21.7        3.6     -0.3
3    105  강릉  2020-04     11.8       16.4     26.8        7.1      1.4
4    105  강릉  2020-05     18.3       22.9     32.5       14.3      8.3
..   ...  ..      ...      ...        ...      ...        ...      ...
67   105  강릉  2025-08     29.0       33.1     38.0       25.5     21.7
68   105  강릉  2025-09     23.3       27.3     34.8       19.8     15.3
69   105  강릉  2025-10     16.0       19.0     27.9       13.8      3.5
70   105  강릉  2025-11     11.2       16.1     22.0        7.1      0.0
71   105  강릉  2025-12     15.1       19.5     15.8       11.1     -5.4

[72 rows x 8 columns]

In [9]:
processed_dfs["강원도(태백)"]

    지점번호 지점명       일시  평균기온(℃)  평균최고기온(℃)  최고기온(℃)  평균최저기온(℃)  최저기온(℃)
0    216  태백  2020-01     -1.3        3.4     12.2       -5.2    -11.2
1    216  태백  2020-02     -0.6        4.9     13.8       -5.8    -17.1
2    216  태백  2020-03      4.2       10.6     21.5       -1.9     -8.0
3    216  태백  2020-04      6.7       13.0     23.3        0.7     -5.5
4    216  태백  2020-05     14.8       21.3     27.5        9.1      2.1
..   ...  ..      ...      ...        ...      ...        ...      ...
67   216  태백  2025-08     24.4       30.2     34.9       19.6     13.3
68   216  태백  2025-09     18.9       24.3     30.1       14.0      8.6
69   216  태백  2025-10     12.2       16.0     23.7        9.3     -2.4
70   216  태백  2025-11      5.5       11.9     18.3        0.0     -7.1
71   216  태백  2025-12     10.0       15.8     10.1        4.9    -11.2

[72 rows x 8 columns]