In [1]:
import os
os.getcwd()

os.listdir("data/raw")
os.listdir()
os.listdir("data/raw/energy")

['신·재생_에너지생산량_강원_20251215135106.csv',
 '지역별_신·재생에너지_보급용량_발전누적__20251215134828.csv',
 '지역별_신·재생에너지_보급용량_발전신규__20251215135000.csv',
 '한국에너지공단_기초지자체별 신재생에너지 보급 현황.csv']

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df1 = pd.read_excel('./data/processed/강원도_월별기온_통합.xlsx', sheet_name="강원도(강릉)")
df1.head(10)

,\t\t지점번호,지점명,일시,평균기온(℃),평균최고기온(℃),최고기온(℃),\t최고기온일자,평균최저기온(℃),최저기온(℃),최저기온일자
0,105,강릉,2020-01,4.4,8.1,12.5,2020-01-23,1.7,-3.0,2020-01-01
1,105,강릉,2020-02,5.0,9.6,16.7,2020-02-13,0.9,-7.1,2020-02-06
2,105,강릉,2020-03,8.7,13.9,21.7,2020-03-26,3.6,-0.3,2020-03-05
3,105,강릉,2020-04,11.8,16.4,26.8,2020-04-30,7.1,1.4,2020-04-05
4,105,강릉,2020-05,18.3,22.9,32.5,2020-05-01,14.3,8.3,2020-05-21
5,105,강릉,2020-06,24.1,28.2,34.5,2020-06-09,20.1,15.2,2020-06-06
6,105,강릉,2020-07,22.4,25.5,33.4,2020-07-31,19.6,14.8,2020-07-16
7,105,강릉,2020-08,27.0,30.5,36.5,2020-08-25,24.1,20.2,2020-08-23
8,105,강릉,2020-09,20.6,24.5,29.7,2020-09-04,17.2,11.5,2020-09-28
9,105,강릉,2020-10,15.1,20.1,26.6,2020-10-02,10.8,6.4,2020-10-24

In [5]:
print('전체 데이터 건수:',len(df1))
print('컬럼별 곌측치 개수')
len(df1) - df1.count()

전체 데이터 건수: 72
컬럼별 곌측치 개수

\t\t지점번호     0
지점명          0
일시           0
평균기온(℃)      1
평균최고기온(℃)    1
최고기온(℃)      0
\t최고기온일자     0
평균최저기온(℃)    1
최저기온(℃)      0
최저기온일자       0
dtype: int64