In [1]:
import os
os.getcwd()

os.listdir("data/raw")
os.listdir()
os.listdir("data/raw/energy")

['신·재생_에너지생산량_강원_20251215135106.csv',
 '지역별_신·재생에너지_보급용량_발전누적__20251215134828.csv',
 '지역별_신·재생에너지_보급용량_발전신규__20251215135000.csv',
 '한국에너지공단_기초지자체별 신재생에너지 보급 현황.csv']

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
df1 = pd.read_excel('./data/processed/강원도_월별강수량_통합.xlsx', sheet_name=None)
df1["강원도(동해)"].head(10)

#자료가 제대로 열리는 지 확인한다.

,\t지점번호,지점명,일시,강수량(mm),일최다강수량(mm),일최다강수량일자,1시간최다강수량(mm),1시간최다강수량일자,Unnamed: 8
0,106,동해,2020-01,97.9,42.4,2020-01-07,NaN,NaN,NaN
1,106,동해,2020-02,73.7,33.0,2020-02-25,NaN,NaN,NaN
2,106,동해,2020-03,48.3,19.4,2020-03-10,NaN,NaN,NaN
3,106,동해,2020-04,50.9,17.0,2020-04-19,5.2,2020-04-12,NaN
4,106,동해,2020-05,90.3,30.1,2020-05-18,15.7,2020-05-18,NaN
5,106,동해,2020-06,120.4,100.5,2020-06-30,24.5,2020-06-30,NaN
6,106,동해,2020-07,346.1,99.9,2020-07-24,34.6,2020-07-24,NaN
7,106,동해,2020-08,171.9,50.3,2020-08-10,21.4,2020-08-22,NaN
8,106,동해,2020-09,304.0,83.8,2020-09-07,24.1,2020-09-07,NaN
9,106,동해,2020-10,5.1,5.1,2020-10-03,2.5,2020-10-03,NaN

In [13]:
print('전체 데이터 건수:',len(df1))

전체 데이터 건수: 14

In [ ]:
print('컬럼별 결측치 개수')
len(df1) - df1.count()

컬럼별 곌측치 개수

\t지점번호           0
지점명              0
일시               0
강수량(mm)          2
일최다강수량(mm)       2
일최다강수량일자         2
1시간최다강수량(mm)    30
1시간최다강수량일자      30
Unnamed: 8      72
dtype: int64

In [26]:
df1 = df1.drop("1시간최다강수량일자",axis=1)
df1.head(11)

    \t지점번호 지점명       일시  강수량(mm)  일최다강수량(mm)    일최다강수량일자
0      105  강릉  2020-01    107.5        50.0  2020-01-07
1      105  강릉  2020-02     77.5        43.5  2020-02-25
2      105  강릉  2020-03     47.1        17.3  2020-03-10
3      105  강릉  2020-04     65.6        23.3  2020-04-19
4      105  강릉  2020-05     95.5        26.7  2020-05-09
5      105  강릉  2020-06    270.4       250.0  2020-06-30
6      105  강릉  2020-07    375.9       121.8  2020-07-24
7      105  강릉  2020-08    150.4        37.9  2020-08-15
8      105  강릉  2020-09    613.8       236.2  2020-09-07
9      105  강릉  2020-10      0.6         0.5  2020-10-01
10     105  강릉  2020-11      7.7         7.7  2020-11-19

In [ ]:
print('컬럼별 결측치 개수')
len(df1) - df1.count()

컬럼별 곌측치 개수

\t지점번호        0
지점명           0
일시            0
강수량(mm)       2
일최다강수량(mm)    2
일최다강수량일자      2
dtype: int64

In [53]:
#행열 정리 함수

def clean_structure(df):
    df = df.iloc[:-3, :-3]      # 뒤쪽 행/열 제거만
    return df.reset_index(drop=True)

clean_structure(df1)

df1 = clean_structure(df1)

In [49]:
df1["강수량(mm)"].dtype

dtype('float64')

In [ ]:
#숫자로 변환 못할 경우 그 값을 NaN으로 대체 코드
pd.to_numeric(
    df1["강수량(mm)"], 
    errors="coerce"
)

pre = df1["강수량(mm)"].mean().round(1)
#결측값 평균 값으로 대체
df1["강수량(mm)"] = df1["강수량(mm)"].fillna(pre)
df1

    \t지점번호 지점명       일시  강수량(mm)  일최다강수량(mm)    일최다강수량일자
0      105  강릉  2020-01    107.5        50.0  2020-01-07
1      105  강릉  2020-02     77.5        43.5  2020-02-25
2      105  강릉  2020-03     47.1        17.3  2020-03-10
3      105  강릉  2020-04     65.6        23.3  2020-04-19
4      105  강릉  2020-05     95.5        26.7  2020-05-09
..     ...  ..      ...      ...         ...         ...
64     105  강릉  2025-05     53.8        17.0  2025-05-24
65     105  강릉  2025-06     18.6         6.5  2025-06-21
66     105  강릉  2025-07    128.2        39.7  2025-07-15
67     105  강릉  2025-08     41.1        22.7  2025-08-06
68     105  강릉  2025-09    339.8       103.7  2025-09-13

[69 rows x 6 columns]

In [60]:
#결측값 처리 (평균 값으로 대체)
def handle_rainfall_missing(df,col):
    if not pd.api.types.is_numeric_dtype(df[col]):
        df[col] = pd.to_numeric(df[col], errors="coerce")
    
    pre = df[col].mean().round(1)
    df[col] = df[col].fillna(pre)

    return df

df = clean_structure(df1)
df = handle_rainfall_missing(df,"강수량(mm)")

df

    \t지점번호 지점명       일시  강수량(mm)  일최다강수량(mm)    일최다강수량일자
0      105  강릉  2020-01    107.5        50.0  2020-01-07
1      105  강릉  2020-02     77.5        43.5  2020-02-25
2      105  강릉  2020-03     47.1        17.3  2020-03-10
3      105  강릉  2020-04     65.6        23.3  2020-04-19
4      105  강릉  2020-05     95.5        26.7  2020-05-09
..     ...  ..      ...      ...         ...         ...
64     105  강릉  2025-05     53.8        17.0  2025-05-24
65     105  강릉  2025-06     18.6         6.5  2025-06-21
66     105  강릉  2025-07    128.2        39.7  2025-07-15
67     105  강릉  2025-08     41.1        22.7  2025-08-06
68     105  강릉  2025-09    339.8       103.7  2025-09-13

[69 rows x 6 columns]

In [ ]:
#함수 적용해 전체 데이터 전처리 적용

df1 = pd.read_excel(
    './data/processed/강원도_월별강수량_통합.xlsx', 
    sheet_name=None
)

processed_dfs = {}

for sheet, df in df1.items():
    df = clean_structure(df)
    df.columns = df.columns.str.strip()

    df = handle_rainfall_missing(df,"강수량(mm)")
    df = handle_rainfall_missing(df,"일최다강수량(mm)")
    
    processed_dfs[sheet] = df

processed_dfs["강원도(강릉)"]

    지점번호 지점명       일시  강수량(mm)  일최다강수량(mm)    일최다강수량일자
0    105  강릉  2020-01    107.5        50.0  2020-01-07
1    105  강릉  2020-02     77.5        43.5  2020-02-25
2    105  강릉  2020-03     47.1        17.3  2020-03-10
3    105  강릉  2020-04     65.6        23.3  2020-04-19
4    105  강릉  2020-05     95.5        26.7  2020-05-09
..   ...  ..      ...      ...         ...         ...
64   105  강릉  2025-05     53.8        17.0  2025-05-24
65   105  강릉  2025-06     18.6         6.5  2025-06-21
66   105  강릉  2025-07    128.2        39.7  2025-07-15
67   105  강릉  2025-08     41.1        22.7  2025-08-06
68   105  강릉  2025-09    339.8       103.7  2025-09-13

[69 rows x 6 columns]

In [62]:
processed_dfs["강원도(태백)"]

    지점번호 지점명       일시  강수량(mm)  일최다강수량(mm)    일최다강수량일자
0    216  태백  2020-01     79.4        30.0  2020-01-07
1    216  태백  2020-02     36.1        23.6  2020-02-25
2    216  태백  2020-03     24.8        15.6  2020-03-10
3    216  태백  2020-04     46.4        23.3  2020-04-12
4    216  태백  2020-05    102.4        31.7  2020-05-18
..   ...  ..      ...      ...         ...         ...
64   216  태백  2025-05    107.5        20.0  2025-05-09
65   216  태백  2025-06     73.4        30.6  2025-06-21
66   216  태백  2025-07    116.5        33.9  2025-07-17
67   216  태백  2025-08     43.4        15.4  2025-08-04
68   216  태백  2025-09    175.1        67.7  2025-09-20

[69 rows x 6 columns]

In [ ]:
print(type(df)) #<class 'pandas.core.series.Series'> 뜨면 문제가 생긴 거다.

<class 'pandas.core.series.Series'>

In [19]:
# 여러번 전처리 처리하면서 개선한 코드로 적용

import preprocessing as pre
#만들어 뒀던 결측치 처리 py파일 불러움.

processed_dfs = {}
#빈 딕셔너리 만드는 건 시트별로 전처리된 DataFrame을 저장하기 위해 사용.

use_cols = [
    '지점번호',
    '지점명',
    '일시',
    '강수량(mm)',
    '일최다강수량(mm)'
]

print("총 시트 수:", len(df1))

for sheet, df in df1.items():
    print("처리 중:", sheet) #엑셀 시트가 처리될 때마다 출력

    df.columns = df.columns.str.strip().str.replace(" ", "") #컬럼 명 정리
    #특정 컬럼만 추려내서 데이터화 -원본 dfs 살리기 위해 copy 씀.
    df_use = df[[c for c in use_cols if c in df.columns]].copy() #컬럼 
    processed_dfs[sheet] = df_use
    #전처리 된 df_use를 sheet라는 키로 저장해라.

    # 결측치 처리
    for col in ["강수량(mm)","일최다강수량(mm)"]:
            if col in df_use.columns:
                df_use = pre.handle_missing(df_use, col)
    processed_dfs[sheet] = df_use

processed_dfs["강원도(태백)"]

총 시트 수: 14
처리 중: 강원도(강릉)
처리 중: 강원도(대관령)
처리 중: 강원도(동해)
처리 중: 강원도(북강릉)
처리 중: 강원도(북춘천)
처리 중: 강원도(속초)
처리 중: 강원도(영월)
처리 중: 강원도(원주)
처리 중: 강원도(인제)
처리 중: 강원도(정선군)
처리 중: 강원도(철원)
처리 중: 강원도(춘천)
처리 중: 강원도(태백)
처리 중: 강원도(홍천)

    지점번호 지점명       일시  강수량(mm)  일최다강수량(mm)
0    216  태백  2020-01     79.4        30.0
1    216  태백  2020-02     36.1        23.6
2    216  태백  2020-03     24.8        15.6
3    216  태백  2020-04     46.4        23.3
4    216  태백  2020-05    102.4        31.7
..   ...  ..      ...      ...         ...
67   216  태백  2025-08     43.4        15.4
68   216  태백  2025-09    175.1        67.7
69   216  태백  2025-10    277.4        53.2
70   216  태백  2025-11      9.8         4.0
71   216  태백  2025-12     13.1         9.7

[72 rows x 5 columns]

In [ ]:
#결측치가 없는지 확인
len(processed_dfs["강원도(강릉)"]) - processed_dfs["강원도(강릉)"].count()

#확인 도중 최다 강수량에 결측있으면 최다강수량일자도 처리되어 있고 이는 
#평균으로도, 임의로도 처리할 수 없는 걸 파악해.
#일자 칼럼을 쓰지 않기로 정함.

지점번호          0
지점명           0
일시            0
강수량(mm)       0
일최다강수량(mm)    0
dtype: int64

In [21]:
#전처리 과정 거친 데이터를 엑셀 시트로 저장
#추후 시각화 과정에서 정제된 데이터를 바로 쓰기 위함.

output_path = "./data/processed/New_강원도_월별강수량.xlsx"

with pd.ExcelWriter(output_path, engine="openpyxl") as writer:
    for sheet, df in processed_dfs.items():
        df.to_excel(
            writer,
            sheet_name=sheet,
            index=False
        )