In [1]:
import os
os.getcwd()

os.listdir("data/raw")
os.listdir()
os.listdir("data/raw/energy")

['신·재생_에너지생산량_강원_20251215135106.csv',
 '지역별_신·재생에너지_보급용량_발전누적__20251215134828.csv',
 '지역별_신·재생에너지_보급용량_발전신규__20251215135000.csv',
 '한국에너지공단_기초지자체별 신재생에너지 보급 현황.csv']

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df1 = pd.read_excel('./data/processed/강원도_월별강수량_통합.xlsx', sheet_name="강원도(강릉)")
df1.head(10)

#자료가 제대로 열리는 지 확인한다.

,\t지점번호,지점명,일시,강수량(mm),일최다강수량(mm),일최다강수량일자,1시간최다강수량(mm),1시간최다강수량일자,Unnamed: 8
0,105,강릉,2020-01,107.5,50.0,2020-01-07,NaN,NaN,NaN
1,105,강릉,2020-02,77.5,43.5,2020-02-25,NaN,NaN,NaN
2,105,강릉,2020-03,47.1,17.3,2020-03-10,NaN,NaN,NaN
3,105,강릉,2020-04,65.6,23.3,2020-04-19,6.2,2020-04-12,NaN
4,105,강릉,2020-05,95.5,26.7,2020-05-09,11.3,2020-05-18,NaN
5,105,강릉,2020-06,270.4,250.0,2020-06-30,58.4,2020-06-30,NaN
6,105,강릉,2020-07,375.9,121.8,2020-07-24,32.1,2020-07-24,NaN
7,105,강릉,2020-08,150.4,37.9,2020-08-15,10.7,2020-08-15,NaN
8,105,강릉,2020-09,613.8,236.2,2020-09-07,57.4,2020-09-02,NaN
9,105,강릉,2020-10,0.6,0.5,2020-10-01,0.3,2020-10-01,NaN

In [11]:
print('전체 데이터 건수:',len(df1))

전체 데이터 건수: 72

In [52]:
print('컬럼별 곌측치 개수')
len(df1) - df1.count()

컬럼별 곌측치 개수

\t지점번호           0
지점명              0
일시               0
강수량(mm)          2
일최다강수량(mm)       2
일최다강수량일자         2
1시간최다강수량(mm)    30
1시간최다강수량일자      30
Unnamed: 8      72
dtype: int64

In [26]:
df1 = df1.drop("1시간최다강수량일자",axis=1)
df1.head(11)

    \t지점번호 지점명       일시  강수량(mm)  일최다강수량(mm)    일최다강수량일자
0      105  강릉  2020-01    107.5        50.0  2020-01-07
1      105  강릉  2020-02     77.5        43.5  2020-02-25
2      105  강릉  2020-03     47.1        17.3  2020-03-10
3      105  강릉  2020-04     65.6        23.3  2020-04-19
4      105  강릉  2020-05     95.5        26.7  2020-05-09
5      105  강릉  2020-06    270.4       250.0  2020-06-30
6      105  강릉  2020-07    375.9       121.8  2020-07-24
7      105  강릉  2020-08    150.4        37.9  2020-08-15
8      105  강릉  2020-09    613.8       236.2  2020-09-07
9      105  강릉  2020-10      0.6         0.5  2020-10-01
10     105  강릉  2020-11      7.7         7.7  2020-11-19

In [ ]:
print('컬럼별 결측치 개수')
len(df1) - df1.count()

컬럼별 곌측치 개수

\t지점번호        0
지점명           0
일시            0
강수량(mm)       2
일최다강수량(mm)    2
일최다강수량일자      2
dtype: int64

In [53]:
#행열 정리 함수

def clean_structure(df):
    df = df.iloc[:-3, :-3]      # 뒤쪽 행/열 제거만
    return df.reset_index(drop=True)

clean_structure(df1)

df1 = clean_structure(df1)

In [49]:
df1["강수량(mm)"].dtype

dtype('float64')

In [ ]:
#숫자로 변환 못할 경우 그 값을 NaN으로 대체 코드
pd.to_numeric(
    df1["강수량(mm)"], 
    errors="coerce"
)

pre = df1["강수량(mm)"].mean().round(1)
#결측값 평균 값으로 대체
df1["강수량(mm)"] = df1["강수량(mm)"].fillna(pre)
df1

    \t지점번호 지점명       일시  강수량(mm)  일최다강수량(mm)    일최다강수량일자
0      105  강릉  2020-01    107.5        50.0  2020-01-07
1      105  강릉  2020-02     77.5        43.5  2020-02-25
2      105  강릉  2020-03     47.1        17.3  2020-03-10
3      105  강릉  2020-04     65.6        23.3  2020-04-19
4      105  강릉  2020-05     95.5        26.7  2020-05-09
..     ...  ..      ...      ...         ...         ...
64     105  강릉  2025-05     53.8        17.0  2025-05-24
65     105  강릉  2025-06     18.6         6.5  2025-06-21
66     105  강릉  2025-07    128.2        39.7  2025-07-15
67     105  강릉  2025-08     41.1        22.7  2025-08-06
68     105  강릉  2025-09    339.8       103.7  2025-09-13

[69 rows x 6 columns]

In [60]:
#결측값 처리 (평균 값으로 대체)
def handle_rainfall_missing(df,col):
    if not pd.api.types.is_numeric_dtype(df[col]):
        df[col] = pd.to_numeric(df[col], errors="coerce")
    
    pre = df[col].mean().round(1)
    df[col] = df[col].fillna(pre)

    return df

df = clean_structure(df1)
df = handle_rainfall_missing(df,"강수량(mm)")

df

    \t지점번호 지점명       일시  강수량(mm)  일최다강수량(mm)    일최다강수량일자
0      105  강릉  2020-01    107.5        50.0  2020-01-07
1      105  강릉  2020-02     77.5        43.5  2020-02-25
2      105  강릉  2020-03     47.1        17.3  2020-03-10
3      105  강릉  2020-04     65.6        23.3  2020-04-19
4      105  강릉  2020-05     95.5        26.7  2020-05-09
..     ...  ..      ...      ...         ...         ...
64     105  강릉  2025-05     53.8        17.0  2025-05-24
65     105  강릉  2025-06     18.6         6.5  2025-06-21
66     105  강릉  2025-07    128.2        39.7  2025-07-15
67     105  강릉  2025-08     41.1        22.7  2025-08-06
68     105  강릉  2025-09    339.8       103.7  2025-09-13

[69 rows x 6 columns]

In [ ]:
#함수 적용해 전체 데이터 전처리 적용

df1 = pd.read_excel(
    './data/processed/강원도_월별강수량_통합.xlsx', 
    sheet_name=None
)

processed_dfs = {}

for sheet, df in df1.items():
    df = clean_structure(df)
    df.columns = df.columns.str.strip()

    df = handle_rainfall_missing(df,"강수량(mm)")
    df = handle_rainfall_missing(df,"일최다강수량(mm)")
    
    processed_dfs[sheet] = df

processed_dfs["강원도(강릉)"]

    지점번호 지점명       일시  강수량(mm)  일최다강수량(mm)    일최다강수량일자
0    105  강릉  2020-01    107.5        50.0  2020-01-07
1    105  강릉  2020-02     77.5        43.5  2020-02-25
2    105  강릉  2020-03     47.1        17.3  2020-03-10
3    105  강릉  2020-04     65.6        23.3  2020-04-19
4    105  강릉  2020-05     95.5        26.7  2020-05-09
..   ...  ..      ...      ...         ...         ...
64   105  강릉  2025-05     53.8        17.0  2025-05-24
65   105  강릉  2025-06     18.6         6.5  2025-06-21
66   105  강릉  2025-07    128.2        39.7  2025-07-15
67   105  강릉  2025-08     41.1        22.7  2025-08-06
68   105  강릉  2025-09    339.8       103.7  2025-09-13

[69 rows x 6 columns]

In [62]:
processed_dfs["강원도(태백)"]

    지점번호 지점명       일시  강수량(mm)  일최다강수량(mm)    일최다강수량일자
0    216  태백  2020-01     79.4        30.0  2020-01-07
1    216  태백  2020-02     36.1        23.6  2020-02-25
2    216  태백  2020-03     24.8        15.6  2020-03-10
3    216  태백  2020-04     46.4        23.3  2020-04-12
4    216  태백  2020-05    102.4        31.7  2020-05-18
..   ...  ..      ...      ...         ...         ...
64   216  태백  2025-05    107.5        20.0  2025-05-09
65   216  태백  2025-06     73.4        30.6  2025-06-21
66   216  태백  2025-07    116.5        33.9  2025-07-17
67   216  태백  2025-08     43.4        15.4  2025-08-04
68   216  태백  2025-09    175.1        67.7  2025-09-20

[69 rows x 6 columns]